 * body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('pexels-1.jpg');
    background-size: cover; /* This makes the image cover the entire page */
    background-position: center; /* This centers the image */
    height: 100vh; /* Makes sure the body takes up the full viewport height */
    margin: 0;
}
.login-form {
    background:transparent;
    padding: 10px;  
    border-radius: 5px;
    transform: scale(0.80);
    transform-origin: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-form h2 {
    align-items: center;
    margin-bottom: 20px;
    margin-left: 28%;
    color: white;
}
.login-form input {
    align-items: center;
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom:10px;
    background:transparent;
    margin-left:3%;
    border: 1px solid #ccc;
    border-radius: 15px ;
}
/* .login-form input:hover {

} */
.login-form button {
    width: 50%;
    padding: 10px;
    background:transparent;
    border: none;
    align-items: center;    
    margin-left: 25%;
    margin-top: 5px;
    border-radius: 30px;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.login-form button:hover {
    background-color: #33165f;
}
